doctype html
html
  head
    title Update Successful
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body
    include components/header.pug
    .container
      .row.justify-content-center
        .col-md-6
          .alert.alert-success.mt-5
            h4 Update Successful
            p An Iternational Price has been updated to:  #{international}.
            p Local Price(MIN_MAX) has been updated to:  #{local_min_max}
          a.btn.btn-primary(href="/api/auth/price/update") Go Back to Market

